[user]
    name = N. Goncalves
    email = nuno@nunocgoncalves.com
    signingkey = 061681AB2D07DFF3

[commit]
    gpgSign = true

[tag]
    gpgSign = true

[core]
    excludesfile = ~/.gitignore_global
